* {
    margin: 0;
    padding: 0;
}

.header {
   margin-top: 35%;
    
    
}
body{
    margin-left: 25px;
    margin-right: 45px;
    background-image:url(/Assets/images/CERTIFICATE\ plain.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
h1 img {
    margin-left: 70%;
}
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
    margin-left: 48%;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-size: 80px;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 30px;
}

h1 {
    color: red;
    text-align: center;
    font-size: 55px;
    font-family: sans-serif;
}
h2 {
    color: yellow;
    text-align: center;
    font-size: 60px;
    -webkit-text-stroke: 3px black;
    text-stroke: 1px black;
    font-family: sans-serif;
}

p {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.line {
    margin-left: 14.6%;
    margin-top: 20px;
    color: black;
}

.heado{
    text-align: center;
}
.note {
    font-size: 20px;
}
.ptagee {
    margin-right: 42%;
}

.rowww {
    display: flex;
    justify-content: space-between;
}

.services-col {
    flex-basis: 61%;
    margin-top: 2%;
    margin-left: 15%;
    box-sizing: border-box;
}

h3 {
    font-weight: 600;
    margin-left: 30%;
    font-size: 20px;
    margin-top: 5%;
}

.sign {
    margin-top: 15%;
    font-size: 22px;
}
h3 img {
    width: 250px;
    height: 150px;
    margin-top: 30%;
    margin-left: 100px;
}

p{
    font-size: 16px;
}